<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Management System Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/app/staticheet/login.css">
    <script src="/app/staticin.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <!--Sign in form-->
                <form action="#" class="sign-in-form">
                    <h2 class="title">Sign-in</h2>
                    <p id="sign-in-error-msg">Incorrect username or password. Please try again</p>
                    <div class="input-field" id="sign-in-username-holder">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" id="sign-in-username"/>
                    </div>
                    <div class="input-field" id="sign-in-password-holder">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" id="sign-in-password"/>
                    </div>
                    <input type="submit" value="sign-in" class="btn solid" onclick="onSigninClicked()"/>
                    <p class="social-text">Sign-in Through Social Media</p>
                    <div class="social-media">
                        <a href="#" class="social-icon" onclick="onFacebookClicked()">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onTwitterClicked()">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onGoogleClicked()">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onLinkedinClicked()">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>

                <!--Sign up form-->
                <form action="#" class="sign-up-form">
                    <h2 class="title">Sign-up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="E-Mail" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" class="btn" value="Sign-up" onclick="onSignupClicked()"/>
                    <p class="social-text">Sign-in Through Social Media</p>
                    <div class="social-media">
                        <a href="#" class="social-icon" onclick="onFacebookClicked()">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onTwitterClicked()">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onGoogleClicked()">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon" onclick="onLinkedinClicked()">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h2>Haven't Registered Yet?</h2>
                    <p class="intro">
                        Unlock the full potential of the camera management system! Register now to gain access to
                        advanced camera settings, detailed statistics, and powerful tools. Join today and take control
                        of your camera setup like never before. Signing up is quick, easy, and free. don’t miss out!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">Sign-up</button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h2>Already Have an Account?</h2>
                    <p class="intro">
                        Your advanced camera management tools are just a login away! Access exclusive features like
                        customizable settings, in-depth analytics, and enhanced controls to elevate your camera
                        system’s performance. Log in now to explore the full range of capabilities and make the most of
                        your account. Your next-level experience awaits!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">Sign-in</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>