<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/stylesheet/gallery.css">
</head>
<body>
    <header>
        <h1>Image Gallery</h1>
    </header>
    <main>
        <section id="galleryContent" class="gallery"></section>
    </main>
    <footer>
        <div id="pagination" class="pagination"></div>
    </footer>
    <script src="/static/js/gallery.js"></script>
</body>
</html>