<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/app/staticheet/gallery.css">
</head>
<body>
    <header>
        <h1>Image Gallery</h1>
        <div id="calendar-container">
            <label for="calendar-input"></label><input type="date" id="calendar-input">
        </div>
        <div class="dropdown">
            <button class="dropdown-button">All Day</button>
            <div class="dropdown-content">
                  <a href="#option1">all day</a>
                  <a href="#option2">daytime</a>
                  <a href="#option3">nighttime</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-button">UCSB Broida Rooftop-Color</button>
            <div class="dropdown-content">
                  <a href="#option1">UCSB Broida Rooftop-Color</a>
            </div>
        </div>
        <button onclick="onFilterClicked()">filter</button>
    </header>
    <main>
        <section id="galleryContent" class="gallery"></section>
    </main>
    <footer>
        <div id="pagination" class="pagination"></div>
    </footer>
    <script src="/app/staticlery.js"></script>
</body>
</html>